*{
  margin: 0;
  padding:0;
  border: 0;
}
li{
  list-style: none;
  display:inline;
  margin-right:40px;
}
.cabecalho{
  background-color: #BE89CB;
  height: 103px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.lista-menu li>a {
  color:#FFFF;
  font-size: 18px;
  text-decoration: none;
}

.perfil{
  background-color:#EDEAEA;
  height: 579px;
  text-align: center;
}
 
 img{
  margin-top: 48px;
  margin-bottom: 26px;

 }
.profissao{
  font-size: 15px;
  color:#828282;

}
.minha-descricao{
  font-size: 14px;
  width: 405px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  max-width: 100%;
 }
 .container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 86px;
  max-width: 750px; 
 
 } 
 .artigo-formacao{
  display:flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
 }
 .titulo-secao{
  font-size: 24px;
  color:#FF4DBC;
  margin-bottom: 50px;
 }
 .lista-formacao{
  padding-left: 32px;
 }

 .titulo-formacao{
 font-size: 16px;
color: #828282;
font-weight: 700px;
 }

 .link-formacao{
  color: #2F80ED;
  font-size: 14px;
 }

 .descricao-formacao{
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 53px;
 }


 .container-artigo-projetos{
  margin-left: auto;
  margin-right: auto;
  margin-top: 86px;
  max-width: 750px; 
  display:flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
 }


 .titulo-secao-projetos{
  font-size: 24px;
  color:#FF4DBC;
  margin-bottom: 50px;
 }
 .lista-projetos{
  padding-left: 32px;
 }

 .titulo-projetos{
 font-size: 16px;
color: #828282;
font-weight: 700px;
 }

 .link-formacao{
  color: #2F80ED;
  font-size: 14px;
 }

 .descricao-projetos{
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 53px;
 }

.rodape{
  display:flex;
  align-items: center;
  background-color: #BE89CB;
  height: 198px;


}
.lista-rodape li{
  color: #FFFF;
  font-size: 28px;
  margin-bottom: 28px;
  font-weight:700px ;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.container-rodape{
  margin-left: 60px;
}
.icon{
  display: block;
  width: 35px;
  float: right;
}





 